<% unless current_user.profile_complete? %>
  <div class="alert alert-primary mt-3 rounded-4" role="alert">
    Your are a guest user. To start sharing your work, please fill in your
    <%= link_to("profile information", edit_my_profile_path, class: "alert-link") %>.
  </div>
<% end %>
