<div class="container my-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <!-- Profile Tab -->
    <li class="nav-item flex-grow-1 text-center" role="presentation">
      <button class="nav-link w-100 border-start rounded-0 rounded-0 active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
        <i class="fa-solid fa-address-card fa-2x text-primary"></i>
        <div class="fw-bold mt-2 text-secondary"><%= t("my.profile.profile_tab") %></div>
      </button>
    </li>
    <!-- Charts Tab -->
    <li class="nav-item flex-grow-1 text-center" role="presentation">
      <button class="nav-link w-100 border-start rounded-0" id="charts-tab" data-bs-toggle="tab" data-bs-target="#charts" type="button" role="tab" aria-controls="charts" aria-selected="true">
        <i class="fa-solid fa-chart-pie fa-2x text-primary"></i>
        <div class="fw-bold mt-2 text-secondary"><%= t("my.profile.charts_tab") %></div>
      </button>
    </li>
    <!-- Maps Tab -->
    <li class="nav-item flex-grow-1 text-center" role="presentation">
      <button class="nav-link w-100 border-start rounded-0" id="maps-tab" data-bs-toggle="tab" data-bs-target="#maps" type="button" role="tab" aria-controls="maps" aria-selected="false">
        <i class="fa-solid fa-map fa-2x text-primary"></i>
        <div class="fw-bold mt-2 text-secondary"><%= t("my.profile.maps_tab") %></div>
      </button>
    </li>
    <!-- Comments Tab -->
    <li class="nav-item flex-grow-1 text-center" role="presentation">
      <button class="nav-link w-100 border-start border-end rounded-0" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="false">
        <i class="fa-solid fa-comment fa-2x text-primary"></i>
        <div class="fw-bold mt-2 text-secondary"><%= t("my.profile.comments_tab") %></div>
      </button>
    </li>
  </ul>
</div>
