<div class="homepage-bg d-flex align-items-center justify-content-center mb-3">
  <div class="container">
    <section class="text-center text-white mb-5">
      <h1 class="display-3"><%= t("home.user_signed_out.main_title_html") %></h1>
    </section>
    <div class="d-none d-sm-flex">
      <%= render("home/user_signed_out/sections") %>
    </div>
  </div>
  <div class="position-absolute small bottom-0 start-0 ms-2 text-light">
    © USGS
  </div>
</div>
