<div class="container">
  <%= render(HeaderComponent.new(title: user.fullname)) do %>
    <%= link_to(user_profile_path(locale, user.slug), class: "small text-secondary") do %>
      <span><%= "##{user.slug}" %></span>
    <% end %>
  <% end %>
</div>
