<div class="container my-4 pb-4">
  <div class="h2 text-secondary mb-3">
    <%= t("user.visualizations") %>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% visualizations.each do |visualization| %>
      <div class="col">
        <%= render(Visualization::CardComponent.new(visualization: )) %>
      </div>
    <% end %>
  </div>
</div>
<%= render(PaginationComponent.new(pagy:)) %>
