<div class="container">
  <% unless current_user.profile_complete? %>
    <div class="alert alert-primary mt-3 rounded-4" role="alert">
      <%= t("guest.alert_01_html") %>
      <%= t("guest.alert_02_html", url: edit_my_profile_path(locale)) %>
    </div>
  <% end %>
</div>
