<div class="container">
  <%= render(HeaderComponent.new(title: t("my.profile.title"))) do %>
    <%= link_to(edit_my_profile_path(locale)) do %>
      <%= render(ButtonComponent.new(text: t("common.edit"), outline: :true, icon: "fa-regular fa-pen-to-square")) %>
    <% end %>
  <% end %>
</div>
