<div class="bg-primary bg-gradient p-4">
  <div class="container">
    <% @comments.each do |comment| %>
      <%= render("my/comments/comment", comment:, user: current_user) %>
    <% end %>
  </div>
</div>

<%= render(PaginationComponent.new(pagy: @pagy)) %>
