$primary: #194a7e;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "success": $green,
  "info": $blue,
  "warning": $yellow,
  "danger": $red,
  "light": $light,
  "dark": $dark
));
