<div class="container">
  <%= render(HeaderComponent.new(title: t("users.form.edit_title"))) do %>
    <%= link_to(edit_user_registration_path, class: "btn btn-sm btn-outline-primary btn-lg rounded-4 d-flex align-items-center gap-2") do %>
      <i class="fa-regular fa-pen-to-square"></i>
      <%= t("navbar.edit_password") %>
    <% end %>
  <% end %>
</div>
