<div class="container bg-white border border-secondary-subtle rounded-4 mt-5 p-4">
  <h2>Discover</h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <%= render("maps", maps:) %>
  </div>
</div>
