<span data-controller="clipboard"><span data-clipboard-target="text"><%= @text %></span>
  <i class="fa-regular fa-copy" data-action="click->clipboard#copy" title="Copy to clipboard"></i>
  <span class="small text-success ms-2 d-none" data-clipboard-target="message"></span>
</span>
<!-- Keep line 1 on one line to avoid a blank space in the rendered HTML -->
