<div class="fw-bold mb-2"><%= t("activerecord.models.software", count: 0) %>:</div>
<ul class="p-0">
  <% visualization.softwares.each do |software| %>
    <li class="list-inline-item">
      <%= render(StaticTagComponent.new(color: :primary)) do %>
        <%= software.name.capitalize %>
      <% end %>
    </li>
  <% end %>
</ul>
