<%= render("challenges/tabs/tabs_nav", challenge: @challenge) %>

<div class="container mt-5">
  <%= turbo_frame_tag("challenge_tab_content") do %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <% visualizations.each do |visualization| %>
        <div class="col">
          <%= render(Visualization::CardComponent.new(visualization: )) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
