<%= render("users/show/header", user: @user) %>
<%= render("users/show/card", user: @user) %>
<div class="container my-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <%= render(partial: "users/show/visualizations", collection: @visualizations, as: :visualization) %>
  </div>
</div>
<%= render(PaginationComponent.new(pagy: @pagy)) %>
