<div class="container border border-secondary-subtle rounded-4 mt-5 p-4">
  <h2><%= t("common.discover") %></h2>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <%= render(partial: "maps/index/card", collection: maps, as: :map) %>
  </div>
</div>
