<ul class="list-group list-group-flush my-3">
  <h5><%= t("activerecord.models.software", count: 0) %>:</h5>
  <% map.softwares.group_by(&:category).each do |category, softwares| %>
    <li class="list-group-item">
      <strong><%= t("activerecord.attributes.map_software.category") %>: <%= category %></strong>
      <ul>
        <% softwares.each do |software| %>
          <li>
            <%= software.name %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
