<div class="container d-flex justify-content-between align-items-center">
  <h1 class="my-4"><%= map.title %></h1>
  <% if current_user == map.user || current_user&.superadmin? %>
    <%= link_to(edit_map_path(map)) do %>
      <i class="fa-regular fa-pen-to-square fa-2x text-primary"></i>
    <% end %>
  <% end %>
</div>
