<%= render("my/mentions/header") %>

<div class="container">
  <% @posts.each do |post| %>
    <%= render("my/mentions/goto", post:)%>
    <%= render(PostComponent.new(
      post:,
      locale: locale,
      current_user: current_user
    )) %>
  <% end %>
</div>
