<%= render("my/mentions/header") %>

<div class="container">
  <% @posts.each do |post| %>
    <%= link_to(determine_post_url(post)) do %>
      <%= render(PostComponent.new(
        post: post,
        locale: locale,
        current_user: current_user
      )) %>
    <% end %>
  <% end %>
</div>
