<div class="container">
  <% if notice %>
    <%= render(AlertComponent.new(type: :info, dismissible: true)) do %>
      <%= notice %>
    <% end %>
  <% end %>

  <% if alert %>
    <%= render(AlertComponent.new(type: :warning, dismissible: true)) do %>
      <%= alert %>
    <% end %>
  <% end %>
</div>
