<div class="container">
  <% if current_user.guest? %>
    <%= render(AlertComponent.new(type: :primary)) do %>
      <%= t("guest.alert_01_html") %>
      <%= t("guest.alert_02_html", url: edit_my_profile_path(locale)) %>
    <% end %>
  <% end %>
</div>
