<div class="toast bg-primary text-white rounded-4 mb-2 shadow-sm"
     role="alert"
     aria-live="assertive"
     aria-atomic="true"
     data-controller="toast">
  <div class="d-flex align-items-start p-3">
    <button type="button" class="bg-transparent border-0" data-bs-dismiss="toast" aria-label="Close">
      <i class="fa-solid fa-xmark fa-2x text-white"></i>
    </button>
    <div class="toast-body flex-grow-1 ps-1 pt-1">
      <%= message %>
    </div>
  </div>
</div>
