<%= render("visualizations/index/header") %>

<div class="container mb-4">
  <%= render("visualizations/index/search", query: @query, visualization_count: @pagy.count) %>

  <div class="container my-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <% @visualizations.each do |visualization| %>
        <div class="col">
          <%= render(Visualization::CardComponent.new(visualization: )) %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render(PaginationComponent.new(pagy: @pagy)) %>
</div>
