<div class="alert alert-warning bg-white border border-warning shadow-sm rounded-4 p-4 d-flex align-items-center gap-2">
  <div class="text-warning rounded-circle d-flex justify-content-center align-items-center p-3">
    <i class="fa-solid fa-circle-info fa-2x"></i>
  </div>
  <div class="alert-content flex-grow-1">
    <p class="mb-0 text-dark fw-bold"><%= t("community.directory.subscription_alert") %></p>
  </div>
</div>
