<%= render(AlertComponent.new(type: :warning, extra_classes: "bg-white border-warning p-4 d-flex align-items-center gap-2")) do %>
  <div class="text-warning rounded-circle d-flex justify-content-center align-items-center p-3">
    <i class="fa-solid fa-circle-info fa-2x"></i>
  </div>
  <div class="alert-content flex-grow-1">
    <p class="mb-0 text-dark fw-bold"><%= t("community.directory.subscription_alert") %></p>
  </div>
<% end %>
