<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvaFeedback" aria-labelledby="offcanvaFeedbackLabel">
  <!-- Offcanvas Header -->
  <div class="offcanvas-header bg-primary text-white">
    <h2 class="offcanvas-title fw-bold h5" id="offcanvaFeedbackLabel"><%= t("feedbacks.title") %></h2>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <!-- Offcanvas Body -->
  <div class="offcanvas-body">
    <%= render("feedbacks/new") %>
  </div>
</div>
