<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvaLocale" aria-labelledby="offcanvaLocaleLabel">
  <!-- Offcanvas Header -->
  <div class="offcanvas-header bg-primary text-white">
    <h5 class="offcanvas-title fw-bold" id="offcanvaLocaleLabel"><%= t("locale.title") %></h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <!-- Offcanvas Body -->
  <div class="offcanvas-body">
    <%= render("users/locale/form") %>
  </div>
</div>
