<%= render("challenges/index/header") %>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <%= render(partial: "challenges/index/card", collection: @challenges, as: :challenge) %>
  </div>
</div>

<%= render(PaginationComponent.new(pagy: @pagy)) %>
