<div class="container">
  <%= render(HeaderComponent.new(title: t("visualization.title"))) do %>
    <% if policy(Visualization).new? %>
      <%= link_to(new_visualization_path, class: "btn btn-outline-primary btn rounded-4 d-flex align-items-center gap-2") do %>
        <i class="fa-solid fa-circle-plus"></i>
        <span><%= t("visualizations.form.create_title") %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
