<div data-controller="pwa-install">
  <button data-pwa-install-target="button" data-action="click->pwa-install#promptInstall" hidden class="nav-link">
    <%= t("navbar.install_pwa") %>
  </button>
</div>
