<% if user_signed_in? %>
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="<%= t("navbar.search_placeholder") %>" aria-label="<%= t("navbar.search") %>">
    <button class="btn btn-outline-success" type="submit"><%= t("navbar.search") %></button>
  </form>
<% end %>
