<% if user_signed_in? %>
  <%= form_with(url: maps_path, method: :get, local: false, class: "d-flex") do |form| %>
    <div class="input-group">
      <%= form.text_field(:query, value: @query, placeholder: "Search maps...", class: "form-control rounded-start-pill", aria: { label: "Search query" }) %>
      <button class="btn btn-outline-success rounded-end-pill" type="submit">
        <%= t("navbar.search") %>
      </button>
    </div>
  <% end %>
<% end %>
