<% if user_signed_in? %>
  <%= link_to("#offcanvasUserMenu", data: {bs_toggle: "offcanvas"}, role: "button", aria: {controls: "offcanvasUserMenu"}) do %>
    <i class="fa-solid fa-circle-user fs-3 text-secondary d-block d-lg-none"></i>
    <i class="fa-solid fa-circle-user fa-2x text-primary d-none d-lg-block"></i>
    <span class="visually-hidden">User menu</span>
  <% end %>
<% end %>
