<div class="container">
  <h2>Charts</h2>

  <div class="row">
    <div class="col-md-6">
      <%= pie_chart @maps_by_projection, title: "Maps Distribution by Projection" %>
    </div>
    <div class="col-md-6">
      <%= pie_chart @software_usage, title: "Most Used Software" %>
    </div>
  </div>
</div>
