<div class="container my-5">
  <h2 class="mb-4 text-secondary">Charts</h2>
  <div class="row g-4">
    <div class="col-md-6">
      <div class="card shadow-sm p-3 rounded-4">
        <%= pie_chart @maps_by_projection, title: "Maps Distribution by Projection", library: { legend: { position: 'bottom' } } %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm p-3 rounded-4">
        <%= pie_chart @software_usage, title: "Most Used Software", library: { legend: { position: 'bottom' } } %>
      </div>
    </div>
  </div>
</div>
