<div class="container my-5">
  <h2 class="mb-4 text-secondary"><%= t("home.user_signed_in.charts.title") %></h2>
  <div class="row g-4">
    <div class="col-md-6">
      <div class="card shadow-sm p-3 rounded-4">
        <%= pie_chart(@visualizations_by_projection, title: t("home.user_signed_in.charts.visualizations_by_projection"), legend: "bottom") %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm p-3 rounded-4">
        <%= pie_chart(@software_usage, title: t("home.user_signed_in.charts.most_used_softawres"), legend: "bottom") %>
      </div>
    </div>
  </div>
</div>
