<% unless current_user.guest? %>
  <div class="container pb-4 my-3 border-bottom">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="h2 text-secondary">
        <%= t("home.user_signed_in.my_contributions") %>
      </div>
      <%= link_to(new_visualization_path(locale)) do %>
        <%= render(ButtonComponent.new(text: t("home.user_signed_in.post_visualization"), size: :sm, rounded: :pill)) %>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= render(ContributionsGraphComponent.new(weeks: @weeks, contributions_by_day: @contributions_by_day)) %>
    </div>
  </div>
<% end %>
