  <div class="col">
    <div class="card rounded-4">
      <%= link_to(visualization) do %>
        <div class="ratio ratio-1x1 rounded-4">
          <%= image_tag(visualization.image, alt: visualization.title) %>
        </div>
      <% end %>
    </div>
  </div>
