<% columns.each do |column| %>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <% column.each do |map| %>
      <% if map.image.attached? %>
        <div class=" mb-4 image-container rounded-4">
          <%= link_to(map) do %>
            <%= image_tag(map.image, class: "w-100 disable_img", alt: "#{map.title} image") %>
            <div class="image-overlay text-center">
              <%= map.user.fullname %>
            </div>
          <% end %>
        </div>
      <% else %>
        <%= image_tag("default.png", class: "mb-4", alt: "Placeholder image") %>
      <% end %>
    <% end %>
  </div>
<% end %>
