<div data-controller="pwa-install">
  <button data-pwa-install-target="button" data-action="click->pwa-install#promptInstall" hidden class="btn btn-outline-secondary btn-sm rounded-pill shadow-sm">
    <%= t("navbar.install_pwa") %>
  </button>
</div>
