<div class="container my-3">
  <div class="h2 text-primary">
    <%= t("home.user_signed_in.last_visualizations") %>
  </div>

  <div class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 g-4 mb-4">
    <%= render(partial: "home/user_signed_in/gallery", collection: visualizations, as: :visualization) %>
  </div>
</div>
