<div class="bg-primary bg-opacity-75 mt-5 py-5">
  <div class="container">
    <h2 class="text-white mb-4">
      <%= t("home.user_signed_in.last_comments") %>
    </h2>
    <% comments.each do |comment| %>
      <%= render("my/profile/comment", comment:, user: comment.user) %>
    <% end %>
  </div>
</div>
