<div class="container bg-white border border-secondary-subtle rounded-4 mt-5 p-4">
  <h2><%= t("home.user_signed_in.last_comments", count: comments.size) %></h2>
  <% comments.each do |comment| %>
    <%= render("me/comment", comment:, user: comment.user) %>
  <% end %>
</div>
