<div class="container">
  <div class="row w-75 mx-auto">
    <%= render("home/user_signed_in/gallery", columns: @columns) %>
    <%= link_to(maps_path, class: "w-100 btn btn-outline-primary rounded-3") do %>
      <i class="fa-solid fa-earth-africa"></i>
      <%= t("home.user_signed_in.see_all_maps") %>
    <% end %>
  </div>
</div>
