<div>
  <h2 class="mb-4 text-secondary"><%= t("home.user_signed_in.last_visualizations") %></h2>

  <div class="row row-cols-2 row-cols-lg-3 g-4 mb-4">
    <%= render(partial: "home/user_signed_in/gallery", collection: @visualizations, as: :visualization) %>
  </div>

  <%= link_to(visualizations_path, class: "w-100 btn btn-outline-primary rounded-4") do %>
    <i class="fa-solid fa-earth-africa"></i>
    <%= t("home.user_signed_in.see_all_visualizations") %>
  <% end %>
</div>
