<div class="bg-primary bg-opacity-75 mt-5 p-4">
  <div class="container">
    <h4>
      <%= t("my.my_last_comments", count: @comments.count) %>
      <span class="small fw-light"><%= t("my.total_comment_count", count: @total_comment_count) %></span>
    </h4>
    <% comments.each do |comment| %>
      <%= render("my/comment", comment:, user: current_user) %>
    <% end %>
  </div>
</div>
