<div class="container">
  <h1 class="my-0 display-5 text-primary">Edit User</h1>
  <%= render("form", user: @user) %>
  <%= link_to "Back", my_path, class: "btn btn-outline-secondary rounded-pill mt-3" %>
</div>
