<footer class="py-3 px-3 bg-dark">
  <div class="container d-flex flex-wrap justify-content-between align-items-center">
    <div class="col-md-4 d-flex align-items-center">
      <%= link_to(root_path, class: "mb-3 me-2 mb-md-0 text-light text-decoration-none lh-1") do %>
        <%= image_tag("logo_inverted.png", alt: "Logo", width: "30", height: "30", class: "d-inline-block align-text-top") %>
      <% end %>
      <span class="mb-3 mb-md-0 text-light">© <%= Date.current.year %> Geographia</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-light" href="#">GitHub</a></li>
    </ul>
  </div>
</footer>
